
<div class="card-header">
  <p class="card-header-title">
    <%= entry.meal_type %>
  </p>
</div>
<div class="card-content">
  <div class="content">
    <p>
      <span class="has-text-weight-bold">Calories: <%= entry.calories %>Kcal</span>
    </p>
    <p>
      <span class="has-text-weight-bold">Proteins: <%= entry.proteins %>g</span>
    </p>
    <p>
      <span class="has-text-weight-bold">Carbohydrates: <%= entry.carbohydrates %>g</span>
    </p>
    <p>
      <span class="has-text-weight-bold">Fats: <%= entry.fats %>g</span>
    </p>
    <p class="italic">Logged <%= time_ago_in_words(entry.created_at) %> ago</p>
  </div>
</div>

