<% content_for :title do %>
  Foodmenu &ndash; <%= Time.now.strftime("%d of %B, %Y") %>
<% end %>

<div class="columns mt-4 is-centered">
  <% @entries.each do |entry| %>
    <div class="column is-one-quarter">
      <div class="card">
        <%= render entry %>
        <div class="card-footer">
          <%= link_to "Show", entry, class: "card-footer-item" %>
          <%= link_to "Edit", edit_entry_path(entry), class: "card-footer-item" %>
          <%= link_to "Delete", entry, method: :delete, data: {confirm: 'Are you sure?'}, class: "card-footer-item" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%# <%= link_to "New entry", new_entry_path %>
